body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tic-tac-toe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tic-tac-toe-container h3 {
  font-weight: lighter;
  margin-bottom: 0;
}

.tic-tac-toe-container .square-container {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  width: 17.5rem;
  height: fit-content;
  margin-top: 1rem;
  padding: 2rem 0 2rem 2rem;
}

.tic-tac-toe-container .btn-reset {
  margin-top: 1rem;
  background-color: blue;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 5rem;
  height: 5rem;
  color: white;
  font-size: 3rem;
}
